.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}


body {
	background: #a1a1a1;
}

h1 {
	font-size: 80px;
	font-family: Helvetica;
	letter-spacing: -7px;
	padding-bottom: 0;
	opacity: 0;
	animation: resultFade 1.5s 0.2s linear;
	animation-fill-mode: forwards;
}

h2 {
	font-family: Helvetica;
	letter-spacing: -1px;
}

#btn {
	font-family: Bebas Neue;
	font-size: 50px;
	height: 100px;
	width: 300px;
	background-color: #f7de20;
	/*border-radius: 10%;*/
	margin-bottom: 40px;
	opacity: 0;
	animation: resultFade 1.5s 0.4s ease-in;
	animation-fill-mode: forwards;
}

#resultBox {
	border: 6px solid black;
	width: 294px;
	text-align: center;
	animation: resultFade 1.3s 0.8s ease-in;
	animation-fill-mode: forwards;
	opacity: 0;
}


@keyframes resultFade {

	100% {
		opacity: 1.0;
	}
}
@keyframes resultFadeTwo {

	100% {
		opacity: 1.0;
	}
}












